
<div data-page-no="3" class="mx-auto page-width-2">
    <div class="position-relative page-width-1 page-right tm-border-top tm-border-bottom">
      <div class="circle intro-circle-1"></div>
      <div class="circle intro-circle-2"></div>
      <div class="circle intro-circle-3"></div>
      <div class="circle intro-circle-4"></div>
      <div class="tm-bg-dark content-pad">
        <h2 class="mb-4 ">Bonjour et bienvenue sur notre boutique en ligne !</h2>
        <p class="mb-4 ">
          Nous sommes ravis de vous accueillir parmi nos nouveaux utilisateurs. Afin de vous offrir la meilleure expérience d'achat possible, nous vous invitons à <span style="color: #99FF66;">vérifier votre adresse e-mail</span> en cliquant sur le lien de confirmation que nous venons de vous envoyer.
        </p>
        <p class="mb-4">
          En vérifiant votre adresse e-mail, vous pourrez bénéficier de tous les avantages de notre boutique en ligne, y compris des offres exclusives et des mises à jour sur nos derniers produits.
        </p>
        <p class="mb-4">
          Si vous n'avez pas reçu notre e-mail de confirmation, n'hésitez pas à vérifier votre dossier de courrier indésirable. Si vous avez des questions ou des préoccupations, n'hésitez pas à <a href="{% url 'customer_service:message' %}">contacter notre service clientèle</a> .
        </p>
        <p class="mb-4">
          Merci de votre confiance et à bientôt sur notre boutique en ligne !
        </p>
      </div>
    </div>
  </div>


